<!doctype html>
<html>
<head>
  <title>Jessica Ritter</title>
  <script src="http://code.jquery.com/jquery.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="./static/main.css">
  <script src="https://use.fontawesome.com/3930059eaf.js"></script>
</head>
<body>
    {% block body %}

    {% endblock %}
</body>
</html>