{% extends 'base.html' %}

{% block body %}
<div class="container" id="main">
    <div class="img" align="center">
        <img src="./static/jess.jpg" id="jess">
    </div>
    <h1 align="center">Jessica Ritter</h1>    
    <h3 align="center">Software Engineer</h3>
    <div class="social-media" align="center">
        <a href="https://github.com/JessicaRitter"><i class="fa fa-github" style="font-size:24px;color:white;"></i></a>
        <a href="https://www.linkedin.com/in/jessica-lynn-ritter/"><i class="fa fa-linkedin" style="font-size:24px;color:white"></i></a>
         <a href="https://twitter.com/jessicalritter"><i class="fa fa-twitter" style="font-size:24px;color:white;"></i></a>
    </div>
    






</div>
{% endblock %}